/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
    display: block;
}
body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

/* Styles */
h1, h2, h3, h4, h5, h6 { font-family: 'Abril Fatface', cursive; }
h1 {
    font-size: 65px;
    color: $white;
}
.container {
    width: $main_container;
    margin: auto;
}

.small-wrapper {
    width: $small_wrapper;
    margin: auto;
}

a {
    text-decoration: none;
    color: white;
}

li {
    display: inline-block;
    list-style-type: none;
}

button {
    color: $main_gold;
    font-size: 13px;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 14px 28px;
    border: 2px solid $main_gold;
    background-color: transparent;
    cursor: pointer;
}