/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
    display: block;
}
body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: $main_gray;
}

/* Styles */
h1, h2, h3, h4, h5, h6 { 
    font-family: 'Abril Fatface', cursive;
    font-weight: normal;
}
h1 {
    font-size: 65px;
    color: $white;
}
h2 {
    font-size: 50px;
    color: $lighter_gray;
}
h3 {
    font-size: 30px;
    color: $main_gold;
}
h4 {
    font-size: 26px;
    color: $main_gold;
    padding: 10px 0;
}
.container {
    width: $main_container;
    margin: auto;
}

.small-wrapper {
    width: $small_wrapper;
    margin: auto;
}

a {
    text-decoration: none;
    color: white;
}

li {
    display: inline-block;
    list-style-type: none;
}

i { transition: 1s; }

.small-heading {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: $main_gold;
    letter-spacing: 2px;
}

.p-inner { line-height: 1.7; }

.review-user-img img { border-radius: 50%; }

.user-name {
    font-style: italic;
    font-weight: 600;
    color: $main_gold;
}

button:hover,
header .buy-menu i:hover,
footer .social-imgs i:hover {
    color: $hover_gold;
    border-color: $hover_gold;
    transform: scale(1.15);
}

footer .chevron:hover {
    background-color: $hover_gold;
}