footer {
    background-color: $black;
    padding-top: 40px;

    /* Columns */
    .footer-cols {
        button { @include button; }
        @include display_flex_centered;

        .col {
            width: 30%;
            margin: auto;
            text-align: center;
            .shop-img { margin-bottom: 25px; }

            &.center {
                .footer-logo { 
                    width: 150px;
                    margin: auto;
                }
                

                .p-inner { 
                    padding: 40px 0;
                    li { 
                        display: block;
                        &.active {
                            color: $hover_gold;
                        }
                    }
                    
                }

                .social-imgs {
                    padding-top: 20px;
                    li a i { margin: 0 5px; }
                }
            }
        }
    }

    .bottom-raw {
        background-color: $footer_bottom_bg;
        padding: 25px 0;
        margin-top: 40px;
        text-align: center;
        font-size: 12px;
    }

    .chevron {
        position: fixed;
        bottom: 0;
        right: 100px;
        z-index: 1;
        padding: 5px 15px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background-color: $chevron_bg;
        transition: 1s;

        .fas { font-size: 14px; }
    }
}