/* CONTAINERS */
$main_container: 1200px;
$small_wrapper: 900px;

/* COLORS */
$white: #ffffff; /* White */
$black: #111110; /* Black (Cod gray) */
$main_gold: #ae8652; /* Driftwood */
$hover_gold: #ae8d67; /* Teak muted */
$main_gray: #88928f; /* Gunsmoke */
$lighter_gray: #b0b0b0; /* Silver Chalice */
$bg-gray: #eae8e6; /* Lightgrey background "Ebb" */